<h1 class="mb-4">My Tasks</h1>

<ul class="list-group">
  <% @tasks.each do |task| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">

      <div>
        <% if task.completed %>
          <i class="fa-regular fa-square-check text-success"></i>
        <% else %>
          <i class="fa-regular fa-square"></i>
        <% end %>

        <%= link_to task.title, task_path(task), class: "ms-2 text-decoration-none" %>
      </div>

      <%= link_to "Delete",
        task_path(task),
        data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        },
        class: "btn btn-outline-danger btn-sm" %>

    </li>
  <% end %>
</ul>

<div class="mt-4">
  <%= link_to "Add a new task", new_task_path, class: "btn btn-primary" %>
</div>
